{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About" %} UNIGEO — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header" >
 
  <h2 class="titulo_biblio" style="margin-top:0px; margin-bottom:10px;     padding-left: 39px;    text-align: center;">CRÉDITOS</h2>
</div>
<ul>
<div class="texto_intro" style="text-align:center;">

<strong style="color:#1f74a4; ">Director:</strong><br/> 
<strong>Dr. Manuel Suárez Lastra</strong> <br/><br/>



<strong style="color:#1f74a4;">Secretaría Técnica de Vinculación</strong><br/> 
<strong>Armando Peralta Higuera</strong> <br/><br/>

<strong style="color:#1f74a4;">Secretaría Académica</strong><br/> 
<strong>Naxhelli Ruíz Rivera</strong> <br/><br/>

<strong style="color:#1f74a4;">Jefe del Laboratorio de Análisis Geoespacial</strong><br/> 
<strong>Jorge Prado Molina</strong> <br/><br/>

<strong style="color:#1f74a4;">Coordinador de desarrollo</strong><br/> 
<strong>Francisco Javier Osorno Covarrubias</strong> <br/><br/>

<strong style="color:#1f74a4;">Investigadores:</strong><br/> 
<strong>Stéphane Robert André Couturier</strong> <br/>
<strong>Raúl Aguirre Gómez
</strong> <br/><br/>

<strong style="color:#1f74a4;">Programadores:</strong><br/> 
<strong>Víctor Maya Higuera</strong> <br/>
<strong>Iván Alejandro Martinez Zazueta <br/>
<strong>Juan Manuel García <br/>
<strong>Yannick Deniau <br/>
</strong> <br/><br/>
</ul>
</div>

{% endblock %}
